<!-- Title picture -->
<div class="col-md-12" style="text-align: center">

    <div class="col-md-4">
        <a href="#!/home">
        <img src="images/title1.png" height="150px" width="690px" style="display:block; margin: auto; position: relative; z-index: 2; width: 30%;
            height: 30%;"/>
        </a>
    </div>

</div>

<div class="marginbottom100">
  <p class="aboutText">PokéBattle is the number one Pokémon battle game on the web! We have developed PokéBattle during a school course spring 2017. This is the beta version of PokéBattle. Currently, items are unavailable and attacks are only based on their physical damage. We hope you have many hours of fun playing PokéBattle! Gotta beat 'em all!'</p>
  <p>All images used are retrieved from www.pokestadium.com. All Pokémon data are retrieved from www.pokeapi.co.</p>
</div>
