<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Confirm Pokémon</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <!--<ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>-->
            <p>Choose {{$ctrl.pokemonName}} to be on your team?</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>

    <!--<button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>-->
</div>


<div>
  <p>Choose 6 Pokémon to battle with</p>

  <div class="inline alignCenter" ng-repeat="pokemonName in allPokemonNames">
    <!--<img class="pokemonImg" ng-src="http://www.pokestadium.com/assets/img/sprites/official-art/{{pokemonName}}.png" ng-click="alert(pokemonName)"/>-->
    <div class="modal-demo">
      <img class="pokemonImg" ng-src="http://www.pokestadium.com/assets/img/sprites/official-art/{{pokemonName}}.png" ng-click="open('sm', pokemonName)"/>
    </div>

    <p>{{pokemonName}}</p>
    <!--<div>
      <img class="checkbox" src="../images/checkbox.png"/>
    </div>-->
  </div>

  <div class="loadingGifDiv" ng-show="loading">
    <img id="loadingGif" src="../images/PikaLoading.gif">
  </div>

</div>

<div class="buttonsDiv">
  <button class="btn btn-primary" ng-click="getAllPokemon()">More Pokémon</button>
  <!--<button class="btn btn-info" ng-click="showConfirmed()">Show confirmed</button>-->
</div>


<div id="confirmedList">
  <h3>Confirmed Pokémon: </h3>
  <span ng-repeat="pokemonName in team()">{{pokemonName}} </span>
</div>

<a ng-href="#!/battle"><button class="btn btn-success">Go!</button></a>
