<!-- Modal popup window -->
<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Confirm Pokémon</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <!--<ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>-->
            <h4>Choose {{$ctrl.pokemonName.name}} to be on your team?</h4>

            <!-- showtype -->
            <p ng-repeat = "type in $ctrl.pokemonName.types.object.type.name">{{type}}</p>

            <div ng-controller="ProgressDemoCtrl" class="panel-body">
                <div class="col-md-12" style="text-align: right;">
                    <div class="col-md-4"><h4>HP</h4></div>
                    <div class="col-md-8"><uib-progressbar class="progress-striped" max="200" value="166" type="danger"><i>166 / 200</i></uib-progressbar>
                    </div>
                </div>

                <div class="col-md-12" style="text-align: right;">
                    <div class="col-md-4"><h4>Attack</h4></div>
                    <div class="col-md-8"><uib-progressbar class="progress-striped" max="200" value="166" type="danger"><i>166 / 200</i></uib-progressbar>
                    </div>
                </div>

                <div class="col-md-12" style="text-align: right;">
                    <div class="col-md-4"><h4>Defense</h4></div>
                    <div class="col-md-8"><uib-progressbar class="progress-striped" max="200" value="166" type="danger"><i>166 / 200</i></uib-progressbar>
                    </div>
                </div>

                <div class="col-md-12" style="text-align: right;">
                    <div class="col-md-4"><h4>Special Attack</h4></div>
                    <div class="col-md-8"><uib-progressbar class="progress-striped" max="200" value="166" type="danger"><i>166 / 200</i></uib-progressbar>
                    </div>
                </div>

                <div class="col-md-12" style="text-align: right;">
                    <div class="col-md-4"><h4>Special Defense</h4></div>
                    <div class="col-md-8"><uib-progressbar class="progress-striped" max="200" value="166" type="danger"><i>166 / 200</i></uib-progressbar>
                    </div>
                </div>

                <div class="col-md-12" style="text-align: right;">
                    <div class="col-md-4"><h4>Speed</h4></div>
                    <div class="col-md-8"><uib-progressbar class="progress-striped" max="200" value="166" type="danger"><i>166 / 200</i></uib-progressbar>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-show="!$ctrl.isInListDialogue()" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Add to Team</button>
            <button ng-show="$ctrl.isInListDialogue()" class="btn btn-primary" type="button" ng-click="$ctrl.delete()">Delete from Team</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
    <!--<button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>-->
</div>

<h4>Choose 4 Pokémons to battle with</h4>

<!-- my team -->
<div class="col-md-12 panel-body">

        <div class="col-md-12 panel-body">
            <div class="col-md-3" ng-repeat="pokemonName in team()">
                 <div ng-if="isInList(pokemonName)"><a ng-click="deleteFromTeam(pokemonName)"><img src="images/selected.png" style="float: right;" /></a>
                 </div>
                <!--<img class="column" draggable="true" ondragstart="handleDragStart(event);"
                ondragover="handleDragOver(event);" ondragenter="handleDragEnter(event)"; ondragleave="handleDragLeave(event);"
                ondrop="handleDrop(event);" ondragend="handleDragEnd(event);" ng-src="http://www.pokestadium.com/assets/img/sprites/official-art/{{pokemonName}}.png" onerror="this.src='https://uos.edu.pk/assets/backend/images/staff/imagenotfound.svg'" class="teamImg" alt="{{pokemonName}}" >
                -->
                <div class="dndPokemon" dnd-element>
                </div>
                <p class="col-md-12" style="text-align: center;">{{pokemonName}}</p>
            </div>
        </div>
        <div class="col-md-6" style="text-align: right;"><a href="#!/overview" type="button" class="btn btn-primary gradient">Random Team!</a></div>
        <div class="col-md-6" style="text-align: left;"><a ng-href="#!/battle" type="button" class="btn btn-primary gradient">Go!</a></div>
        <!-- Button here to confirm the dinner menu. -->

            <!-- <a ng-show="selectedMenu.length > 0" id="confirmDinnerButton" href="#!/overview" type="button" class="btn btn-warning btn-md col-md-2">Battle</a>
            <a ng-show="selectedMenu.length == 0" ng-disabled="true" type="button" class="btn btn-warning btn-disabled btn-md col-md-2">Battle!</a> -->
</div>

<!-- type -->
<div class="col-md-2 panel-body">
        <select ng-model="type"  name="typeField" class="form-control" ng-change="searchPoke(filter, type)">
            <option ng-repeat="r in types" value="{{r.id}}">
                {{r.name}}
            </option>
        </select>
</div>

<!-- space -->
<div class="col-md-5 panel-body"></div>

<!-- search -->
<div>
    <form class="col-md-4 panel-body" name="filterField" ng-submit="filterField.$valid && setFilter(input)">
        <input class="form-control" id="searchBar" type="text" placeholder="Enter key words to search" ng-model="filter">
    </form>
    <div class="col-md-1 panel-body" style="text-align: center;">
        <button type="button" class="btn btn-default" id="searchButton" ng-click="searchPoke(filter, type)">Search</button>
    </div>
</div>


<!-- Main -->
<div class="panel-body">
  <div class="row" style="max-height: 625px; width: 100%;">
        <!-- Where the search results locates. -->
        <div ng-repeat="pokemonName in pokeByType" class="col-md-3 panel-body">
            <!-- <button class="panel"> -->
            <a ng-click="getPokemonDetail(pokemonName.pokemon.name)" class="btn btn-default">
                <div class="panel-body">
                    <img ng-src="http://www.pokestadium.com/assets/img/sprites/official-art/{{pokemonName.pokemon.name}}.png"
                    onerror="this.src='https://uos.edu.pk/assets/backend/images/staff/imagenotfound.svg'"
                    alt="{{pokemonName.pokemon.name}}"
                    class="img-responsive"
                    style="width: 210px ; height:210px; margin:auto;/>
                </div>
                <div class="tool panel-heading">
                    <h4>{{pokemonName.pokemon.name}}</h4>
                </div>
                <!-- <div class="panel-footer">
                    {{dish.readyInMinutes}} mins
                </div> -->
            </a>
            <div ng-if="!isInList(pokemonName.pokemon.name)"><a ng-click="addToTeam(pokemonName.pokemon.name)"><img src="images/select.png" style="float: right;" /></a></div>
            <div ng-if="isInList(pokemonName.pokemon.name)"><a ng-click="deleteFromTeam(pokemonName.pokemon.name)"><img src="images/selected.png" style="float: right;" /></a>
            </div>
        </div>
    </div>
</div>


  <div class="loadingGifDiv" ng-show="isLoading">
    <img id="loadingGif" src="../images/PikaLoading.gif">
  </div>
