<!-- Modal popup window -->
<div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Choose {{$ctrl.pokemon.name}} to be on your team?</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <!-- showtype -->
            <form class="form-horizontal">
                <div class="popupTitle col-md-2">Type</div>
                <div ng-repeat = "type in $ctrl.getPokemonTypes($ctrl.pokemon.types)">
                    <div class="label label-success col-md-2">{{type}}</div>
                </div>
            </form>

            <!-- Base stats -->
            <div class="popupTitle col-md-12">Base Stats</div>
            <div class="panel-body">
                <div class="col-md-12 popupinfo">
                    <div class="col-md-5">HP</div>
                    <div class="col-md-6"><uib-progressbar class="progress-striped" max="255" value="$ctrl.pokemon.stats[5].base_stat" type="danger"></uib-progressbar>
                    </div>
                </div>

                <div class="col-md-12 popupinfo">
                    <div class="col-md-5">Attack</div>
                    <div class="col-md-6"><uib-progressbar class="progress-striped" max="190" value="$ctrl.pokemon.stats[4].base_stat" type="danger"></uib-progressbar>
                    </div>
                </div>

                <div class="col-md-12 popupinfo">
                    <div class="col-md-5">Defense</div>
                    <div class="col-md-6"><uib-progressbar class="progress-striped" max="230" value="$ctrl.pokemon.stats[3].base_stat" type="danger"></uib-progressbar>
                    </div>
                </div>

                <div class="col-md-12 popupinfo">
                    <div class="col-md-5">Special Attack</div>
                    <div class="col-md-6"><uib-progressbar class="progress-striped" max="194" value="$ctrl.pokemon.stats[2].base_stat" type="danger"></uib-progressbar>
                    </div>
                </div>

                <div class="col-md-12 popupinfo" >
                    <div class="col-md-5">Special Defense</div>
                    <div class="col-md-6"><uib-progressbar class="progress-striped" max="230" value="$ctrl.pokemon.stats[1].base_stat" type="danger"></uib-progressbar>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button ng-show="!$ctrl.isInListDialogue() && !$ctrl.isFourMem()" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Add to Team</button>
            <button ng-show="!$ctrl.isInListDialogue() && $ctrl.isFourMem()" ng-disabled="$ctrl.isFourMem()" class="btn btn-primary" type="button" ng-click="$ctrl.ok()">You already have 4 Pokémons</button>
            <button ng-show="$ctrl.isInListDialogue()" class="btn btn-primary" type="button" ng-click="$ctrl.delete()">Delete from Team</button>
            <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
</div>

<!-- messageTip -->
<div class="modal-demo">
    <script type="text/ng-template" id="myModalContentMessageTip.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">You already have 4 Pokémons in your team, no cheating ~^o^~</h3>
            <div class="messagebutton">
            <button class="btn btn-primary tipButton" type="button" ng-click="$ctrl.ok()">Got it</button>
            </div>
        </div>
    </script>
</div>


<!-- Title picture -->
<div class="choosepagetitle">
    <a href="#!/home">
    <img src="images/title1.png" class="choosepagetitlepic" ng-click="setShowContinue(true)"/>
    </a>
</div>

<!-- my team -->
<div class="col-md-12 panel-body choosepageteam">
    <!-- Tips -->
    <div class="choosepageteamH">
        <h5> Tips: Choose 4 Pokémons to battle with. Drag and drop image to change battle order of your Pokémons.</h5>
    </div>

    <!-- team -->
    <div class="col-md-12 panel-body">

        <div class="col-md-3 teamSelection"><p>1</p></div>
        <div class="col-md-3 teamSelection"><p>2</p></div>
        <div class="col-md-3 teamSelection"><p>3</p></div>
        <div class="col-md-3 teamSelection"><p>4</p></div>

        <div class="col-md-3 teamSelection" ng-repeat="pokemonName in team()" >
            <div class="teamSelectionIcon" ng-if="isInList(pokemonName)" ><img src="images/unselect.png" ng-click="deleteFromTeam(pokemonName)"/>
            </div>
            <div class="dndPokemon" dnd-element>
            </div>
            <p class="col-md-12 choosepageteamP">{{pokemonName}}</p>
        </div>
        <p class="col-md-12 choosepageteamT">{{pokemonName}}</p>
    </div>
</div>


<div class="col-md-6 randomButtonL">
    <a ng-click="randomTeam()" type="button" class="btn btn-primary gradient">Random Team !</a>
</div>
<div ng-show = "isFourMem()" class="col-md-6 randomButtonR" >
    <a ng-href="#!/battle" type="button" class="btn btn-primary gradient">Go Battle !</a>
</div>
<div ng-show = "!isFourMem()" class="col-md-6 randomButtonR">
    <button class="btn btn-primary gradient" ng-disabled = "true" >Go Battle !</button>
</div>

<!-- type -->
<div class="col-md-2 panel-body">
    <select ng-model="type"  name="typeField" class="form-control" ng-change="searchPoke(filter, type)">
        <option ng-repeat="r in types" value="{{r.id}}">
            {{r.name}}
        </option>
    </select>
</div>

<!-- space -->
<div class="col-md-5 panel-body"></div>

<!-- search -->
<div>
    <form class="col-md-4 panel-body" name="filterField" ng-submit="filterField.$valid && setFilter(input)">
        <input class="form-control" id="searchBar" type="text" ng-keyup="checkIfEnter($event, filter, type)" placeholder="Enter Pokémon name to search" ng-model="filter">
    </form>
    <div class="col-md-1 panel-body searchButton">
        <button type="button" class="btn btn-primary" id="searchButton" ng-click="searchPoke(filter, type)">Search</button>
    </div>
</div>


<!-- List of all Pokémons that match search -->
<div class="panel-body searchMatches">
    <div class="row">
        <!-- Where the search results locates. -->
        <div ng-repeat="pokemon in pokeByType" class="col-md-3 panel-body">
            <!-- <button class="panel"> -->
            <div class="hvr-float choosepagefloat">

                <a ng-click="getPokemonDetail(pokemon.pokemon.name)" class="btn btn-default">
                    <div class="panel-body">
                        <img ng-src="http://www.pokestadium.com/assets/img/sprites/official-art/{{pokemon.pokemon.name}}.png"
                        onerror="this.src='https://uos.edu.pk/assets/backend/images/staff/imagenotfound.svg'"
                        alt="{{pokemon.pokemon.name}}"
                        class="img-responsive choosepageImageSize"/>
                    </div>
                    <div class="panel-heading">
                        <h4>{{pokemon.pokemon.name}}</h4>
                    </div>
                </a>

                <!-- click icon to add and remove pokemon-->
                <div class="mainViewSelect choosepageAdd" ng-if="!isInList(pokemon.pokemon.name)"><img src="images/select_v6.png" ng-click="addToTeam(pokemon.pokemon.name)"/></div>
                <div class="mainViewSelect" ng-if="isInList(pokemon.pokemon.name)"><img src="images/selected_v2.png" ng-click="deleteFromTeam(pokemon.pokemon.name)"/></div>
            </div>

        </div>
    </div>
</div>

<!-- Loading Gif -->
<div class="loadingGifDiv" ng-show="isLoading">
  <img class="loadingGif">
</div>
