<!-- Title picture -->
<div style="text-align: center">
    <a href="#!/home">
    <img src="images/title1.png" height="150px" width="690px" style="display:block; margin: auto; position: relative; z-index: 2; width: 30%;
        height: 30%;"/>
    </a>
</div>

<div class="faqMain">
  <h4 class="question">Am I able to save my game?</h4>
  <p class="answer">Yes, if you enter your name when you start playing, you can exit the game at any time and continue later on by entering your name again. If you accidentally navigate away from the battle page, you can also continue where you left off by entering your name again.</p>
  <h4 class="question">Why do some of my attacks seem to do no damage?</h4>
  <p class="answer">Pokémons have many different types of moves, some do damage immediately, some enable damage on later turns, and some have no damage but have adversasry effects on the opponent, or beneficiary effects on the player Pokémon. Currently PokéBattle is in beta mode and this means that all attacks are based on their physical damange power. No effects have been implemented yet but this is something we hope to include in the future.</p>
</div>
