<!-- <ng-include src="'partials/views/list.html'" ng-controller="ListCtrl"></ng-include> -->
<div class="col-md-12 bgYellowColor" style="text-align: center;">
	<div class="col-md-12 panel-heading">
		<img src="pics/title2.png" height="150px" width="690px"/>
	</div>
</div>
<div class="col-md-12 bgYellowColor">
	<div style="height: 600px; ">
		<div class="col-md-12 panel-body" style="text-align: center; margin-top:330px">
			<a href="#!/preparation" class="btn btn-primary btn-lg gradient homeButton">Start a Game</a>
		</div>
	</div>
</div>
<!-- <a href="#/search" class="btn btn-primary">Create new dinner</a> -->
