
<div class="homeView">
  <div class="col-md-12" style="background-image: url('images/bg_v2.gif');  background-size: contain; background-position: top; height: 800px; position: relative; bottom: 30px; z-index: -1">

	  <img src="images/title1.png" height="150px" width="690px" style="display:block; margin: auto; margin-top: 20px; position: relative; z-index: 2;"/>


    <div>
<!--     	<div class="col-md-3 col-md-offset-4 form-style-6" style=" width:21%; position: relative; top:480px; padding-left: 2.84%;">
        <input type="text" name="field1" id="username" ng-model="user_name" placeholder="Enter your name to enable save"/>
      </div> -->

      <div style="margin-top: 480px;">
        <input type="text" ng-model="username" placeholder="Username"/>
        <input type="text" ng-model="password" placeholder="Password"/>
      </div>
    	<div class="col-md-3 col-md-offset-4 form-style-6" style="position: relative; top: 20px; left: 35px;">
        <input type="submit" id="startButton" value="Sign up" />
        <a ng-click="checkName()" style="position: relative; bottom: 3px; right: 114px; z-index: 2">
          <img src="images/brackets_s.png"  class="hvr-pulse" style="width: 116px;" />
        </a>
      </div>

      <div class="col-md-3 form-style-6" style="position: relative; top: 20px; right: 138px;">
        <input type="submit" id="startButton" value="Log in"/>
        <a ng-click="checkPasswordAndGame()" style="position: relative; bottom: 3px; right: 114px; z-index: 2">
          <img src="images/brackets_s.png"  class="hvr-pulse" style="width: 116px;" />
        </a>
      </div>

    </div>


  <!--   <div style="margin-top: 500px; text-align: center;">
      <input class="form-control" style="width: 300px; margin: auto" placeholder="Enter name to enable save"/>
      <button class="btn btn-primary" style="margin-top: 20px">Start</button>
    </div> -->

  </div>
</div>
